#sidebar, #notedlg {
	display: grid;
	overflow: hidden;
	position: absolute;
	box-shadow: none;
	font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
	background-color: #fff;
}

.box {
	border: 0;
	padding: 11px 0;
	display: grid;
	min-height: 36px;
}

[id^="btn-"].box input {
	width: 36px;
	height: 36px;
	border: 0;
	margin: 0 auto;
	cursor: pointer;
	padding: 0;
	outline: none;
	opacity: 0.5;
	background-size: 24px 24px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
}

[id^="btn-"].box input:hover {
	opacity: 0.7;
	background-color: #F2F3F4;
	border-radius: 18px;
}

[id^="btn-"].box.selected input {
	opacity: 0.7;
	background-color: #F2F3F4;
	border-radius: 18px;
}

[id^="btn-"].box input[type=file]::file-selector-button,
[id^="btn-"].box input[type=file]::-webkit-file-upload-button {
	content: none;
	visibility: hidden;
}

#btn-m.box input {
	background-image: url("../img/menu.svg");
}

#btn-p.box input {
	background-image: url("../img/prev.svg");
}

#btn-n.box input {
	background-image: url("../img/next.svg");
}

#btn-o.box input {
	background-image: url("../img/open-book.svg");
}

#btn-b.box input {
	background-image: url("../img/bookmark.svg");
}

#btn-b.box.bookmarked input {
	background-image: url("../img/bookmarked.svg");
}

#btn-d.box input {
	background-image: url("../img/bookmarks.svg");
}

#btn-zi.box input {
	background-image: url("../img/zoom-in.svg");
}

#btn-zo.box input {
	background-image: url("../img/zoom-out.svg");
}

#btn-st.box input {
	background-image: url("../img/settings.svg");
}

#btn-pf.box.scrolled input {
	background-image: url("../img/page-flow-scroll.svg");
}

#btn-pf.box.paginated input {
	background-image: url("../img/page-flow-page.svg");
}

#btn-ps.box.none input {
	background-image: url("../img/page-single.svg");
}

#btn-ps.box.auto input {
	background-image: url("../img/page-double.svg");
}

#btn-ps.box input[disabled] {
	opacity: 0.3;
	background-color: transparent;
	cursor: default;
}

#btn-f.box input {
	background-image: url("../img/resize-full.svg");
}

#btn-f.box.resize-small input {
	background-image: url("../img/resize-small.svg");
}

#btn-t.box input {
	background-image: url("../img/toc.svg");
}

#btn-a.box input {
	background-image: url("../img/annotations.svg");
}

#btn-s.box input {
	background-image: url("../img/search.svg");
}

#btn-c.box input {
	background-image: url("../img/settings.svg");
}

#btn-i.box input {
	background-image: url("../img/info.svg");
}

/* mobile */
@media only screen and (max-width: 700px) {
	.box {
		min-height: 30px;
	}

	[id^="btn-"].box input {
		width: 30px;
		height: 30px;
	}
}