@import url("common.css");
@import url("toolbar.css");
@import url("sidebar.css");
@import url("notedlg.css");

@font-face {
	font-family: 'fontello';
	src: url('../font/fontello.eot?60518104');
	src: url('../font/fontello.eot?60518104#iefix') format('embedded-opentype'),
		url('../font/fontello.woff?60518104') format('woff'),
		url('../font/fontello.ttf?60518104') format('truetype'),
		url('../font/fontello.svg?60518104#fontello') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#content {
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	display: flex;
	position: absolute;
	overflow: hidden;
	background: #fff;
	align-items: center;
	box-shadow: inset 0 0 50px rgba(0,0,0,.1);
}

#viewer {
    color: inherit;
	margin: 0 auto;
    display: flex;
	z-index: 2;
	overflow: hidden;
	align-items: center;
	vertical-align: middle;
}

#viewer.paginated {
    width: calc(100% - 116px);
    height: calc(100% - 116px);
}

#viewer.scrolled {
    top: 58px;
    bottom: 58px;
    width: calc(100% - 116px);
    height: calc(100% - 116px);
    position: sticky;
}

#viewer .epub-view {
    width: auto !important;
}

#viewer iframe {
	border: none;
}

#prev > span {
	background-image: url("../img/chevron-left.svg");
}

#next > span {
	background-image: url("../img/chevron-right.svg");
}

#prev:hover > span {
	transform: translateX(-10px);
}

#next:hover > span {
	transform: translateX(10px);
}

.arrow {
	flex: 1;
	padding: 0 10px;
	height: calc(100% - 116px);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.arrow:disabled,
.arrow.disabled {
	visibility: hidden;
	cursor: default;
}

.arrow > span {
	color: #E2E2E2;
	overflow: hidden;
	font-size: 64px;
	font-family: arial, sans-serif;
	font-weight: bold;
	vertical-align: middle;

	width: 38px;
	height: 38px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;

	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.arrow:hover > span {
	color: #777;
}

.arrow:active > span,
.arrow.active > span {
	color: #000;
}

#divider {
	left: 50%;
	height: calc(100% - 116px);
	margin: 0;
	padding: 0;
	display: none;
	position: absolute;
	border-left: 1px dotted #777;
}

#overlay {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	display: none;
	position: fixed;
	background: rgba(0, 0, 0, 0.4);
	transition: all 0.25s;
}

#loader {
	top: calc(50% - 32px);
	left: calc(50% - 32px);
	width: 64px;
	height: 64px;
	position: absolute;
	background-size: 64px;
	background-image: url("../img/loader.gif");
	background-repeat: no-repeat;
	background-position: center;
}

/**
 * iPhone 5 : 320 x 568
 */
@media
only screen and (max-width: 320px) and (orientation: portrait),
only screen and (max-width: 568px) and (orientation: landscape) {
    #viewer.scrolled {
        height: calc(100% - 52px);
    }

	.arrow span {
		font-size: 32px;
	}
	#prev {
		padding: 0 0 0 10px;
	}
	
	#next {
		padding: 0 10px 0 0;
	}
}

/**
 * iPhone 5             : 320 x 568
 * iPhone 6/7/8         : 375 x 667
 * iPhone 11 Pro        : 375 x 812
 * Pixel 7              : 412 x 915
 * iPhone 6/7/8 Plus    : 414 x 736
 * iPhone 11            : 414 x 896
 * iPhone 12/14         : 390 x 844
 * iPhone 14/15 Pro Max : 430 x 932
 */
@media
only screen and (min-width: 320px) and (max-width: 430px) and (orientation: portrait),
only screen and (min-width: 568px) and (max-width: 932px) and (orientation: landscape) {
    #viewer.paginated {
        width: calc(100% - 32px);
    }

    #viewer.scrolled {
        width: 100%;
    }

	.arrow span {
		font-size: 40px;
	}
	#prev {
		padding: 0 0 0 10px;
	}
	
	#next {
		padding: 0 10px 0 0;
	}
}

/**
 * iPad Mini       :  768 x 1024
 * iPad 10.2       :  810 x 1080
 * iPad Air (2020) :  820 x 1180
 * iPad Air        :  834 x 1112
 * iPad Pro 11     :  834 x 1194
 * iPad Pro 12.9   : 1024 x 1366
 */
@media
only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait),
only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: landscape) {
    #viewer.paginated {
        width: calc(100% - 116px);
    }

    #viewer.scrolled {
        width: 100%;
    }

	.arrow span {
		font-size: 50px;
	}
}

/* Current Chapter Label Styles */
#current-chapter {
	position: fixed;
	bottom: 32px;
	left: 50%;
	transform: translateX(-50%);
	width: 80%;
	height: 20px;
	background: transparent;
	z-index: 9;
	text-align: center;
	color: #5F6368;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 80%;
}

/* Progress Bar Styles */
#progress-container {
	position: fixed;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	width: 80%;
	height: 20px;
	background: transparent;
	z-index: 9;
	cursor: pointer;
	display: flex;
	align-items: center;
}

#progress-container.hidden {
	display: none;
}

#progress-bar {
	width: 100%;
	height: 4px;
	background: #E2E2E2;
	border-radius: 2px;
	position: relative;
}

#progress-handle {
	width: 18px;
	height: 18px;
	background: #777;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	cursor: grab;
	transition: background-color 0.2s;
}

#progress-handle:hover {
	background: #555;
}

#progress-handle:active {
	cursor: grabbing;
	background: #333;
}

/* Progress Percentage Styles */
#progress-percentage {
	position: fixed;
	bottom: 10px;
	right: 0;
	width: 10%;
	height: 20px;
	z-index: 9;
	font-size: 14px;
	color: #5F6368;
	white-space: nowrap;
	display: flex;
	justify-content: center;
	align-items: center;
}

#progress-percentage.hidden {
	display: none;
}

@media only screen and (max-width: 700px) {
	#progress-container {
		width: 70%;
	}

	#progress-percentage {
		font-size: 14px;
	}
}