#sidebar {
	top: 0;
	width: 390px;
	max-width: 100%;
	height: 100vh;
	z-index: 12;
	transform: translateX(-390px);
	transition: 0.25s;
	grid-template-rows: 58px;
	grid-template-columns: 58px;
}

#sidebar.open {
	transform: translateX(0);
	box-shadow: 0 0 16px rgba(0,0,0,.28);
}

#sidebar .menu {
	grid-row: 1;
	grid-column: 1;
	height: 58px;
	border: 0;
	border-bottom: 1px solid #BDC3C7;
	position: sticky;
}

#sidebar .list-container {
	height: calc(100% - 73px);
	padding: 15px 0 0 0;
	overflow: auto;
}

/* sidebar tabs */

#sidebar .tabs {
	grid-column: 1;
	grid-row: 2;
	width: 58px;
}

#sidebar .tab-selector {
	width: 58px;
	height: 36px;
	margin: 11px 0;
	position: absolute;
	transition: transform 0.5s;
	border-left: 2px solid #1A73E8 !important;
}

/* sidebar panels */

#sidebar .panels {
	width: 100%;
	margin: 0;
	padding: 0;
	grid-column: 2;
	grid-row: 1 / 3;
	overflow: hidden;
}

#sidebar .panel {
	height: 100vh;
	margin: 0;
	padding: 0;
	position: sticky;
	font-size: small;
}

#sidebar .panel > .box {
	width: 100%;
	align-content: center;
}

#sidebar .panel .box.header span.label {
	color: #5F6368;
	font-size: 18px;
	font-style: normal;
	margin: 0 11px;
}

#sidebar .panel .box.header {
	align-items: center;
	grid-template: 36px / auto 116px;
	border-bottom: 1px solid #BDC3C7;
}

#sidebar .panel input[class^="btn-"] {
	height: 21px;
}

#sidebar .panel input[type=button] {
	color: #fff !important;
	cursor: pointer;
	margin: 0 11px;
	padding: 0;
	height: 36px;
	border: 0;
	border-radius: 4px;
	background-color: #1A73E8 !important;
	font-weight: bold !important;
}

#sidebar .panel input[type=button]:hover {
	box-shadow: 0 0 2px rgba(0,0,0,.28);
	background-color: #1B66C9 !important;
}

#sidebar .panel input[type=button]:disabled {
	cursor: auto;
	box-shadow: none;
	background-color: #BDC3C7 !important;
}

#sidebar .panel ul {
	margin: 0;
	padding-right: 11px;
}

#sidebar .panel li {
	width: calc(100% - 2px);
	margin-left: 2px;
	list-style: none;
	font-weight: 500;
}

#sidebar .panel li:hover {
	background-color: #F2F3F4 !important;
}

#sidebar .panel li.selected {
	margin-left: 0px;
	border-left: 2px solid #1A73E8 !important;
	background-color: #F2F3F4 !important;
}

/* #sidebar .panel li.selected a {
	color: #797D7F !important;
}

#sidebar .panel li a {
	color: #515A5A;
	display: inline-block;
	font-weight: bold;
	text-decoration: none;
}

#sidebar .panel li a:hover {
	color: #797D7F !important;
} */

#sidebar .panel li #item-box {
	display: grid;
	padding: 6px 0;
	align-items: baseline;
}

#sidebar .panel li #item-box span {
	margin: 0;
	padding: 0;
	cursor: pointer;
	text-align: center;
}

#sidebar .panel li #item-box span.btn-remove {
	background-color: #BDC3C7 !important;
}

#sidebar .panel li #item-box span.btn-remove::before {
	content: 'X';
}

#sidebar .panel li #item-box span[class^="toggle-"]::before {
	color: #000 !important;
	opacity: 0.8;

	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

#sidebar .panel li > ul {
	width: calc(100% - 24px);
	padding: 0 0 0 24px;
	display: none;
}

#sidebar .row {
	margin: 0;
	padding: 6px 11px 0px 11px;
	display: flex;
	min-height: 23px;
	align-items: baseline;
	vertical-align: middle;
}

#sidebar .row label {
	flex: 1;
	padding: 1px;
	font-weight: 500;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

#sidebar .row select {
	flex: 1;
	width: 100%;
	padding: 2px;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
	outline-color: #1A73E8 !important;
}

#sidebar .row input[type="checkbox"] {
	width: 16px;
	height: 16px;
	margin: 0;
	cursor: pointer;
	border-width: 1px;
	border-style: solid;
	border-radius: 2px;

	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

#sidebar .row input[type="checkbox"]:checked {
	appearance: auto;
	-webkit-appearance: auto;
	-moz-appearance: auto;
}

#sidebar .row input[type="number"] {
	flex: 0.9867;
	width: 100%;
	padding: 3px;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
	outline-color: #1A73E8 !important;
}

/* toc panel */

#contents.panel ul {
	padding-left: 0;
	padding-bottom: 100px;
}

#contents.panel li {
	padding: 0;
}

#contents.panel li #item-box {
	grid-template: auto / 24px auto;
}

#contents.panel li a {
	width: calc(100% - 24px);
}

#contents.panel li #item-box span.toggle-collapsed::before {
	content: '\002B';
}

#contents.panel #item-box span.toggle-expanded::before {
	content: '\2212';
}

/* bookmarks panel */

#bookmarks.panel ul {
	padding-left: 0px;
}

#bookmarks.panel li #item-box {
	grid-template: auto / auto 22px;
	padding: 6px;
}

/* search panel */

#search.panel ul {
	padding-left: 0px;
}

#search.panel li #item-box {
	padding: 6px;
}

/* override search results styles */
#search.panel li #item-box a {
	color: #333;
	text-decoration: none;
}

#search.panel li #item-box .highlight {
	color: #1A73E8;
}

#search.panel input[type="search"] {
	width: calc(100% - 22px);
	height: 36px;
	border-color: #BDC3C7;
	border-width: 1px;
	border-style: solid;
	border-radius: 18px;
	margin: 0 11px;
	padding: 8px 12px;
	outline-color: #1A73E8;
}

/* annotations panel */

#annotations.panel ul {
	padding-left: 0px;
}

#annotations.panel li #item-box {
	grid-template: auto / auto 22px;
	padding: 6px;
}

#annotations.panel li > a {
	width: calc(100% - 38px);
	margin: 0 6px;
}

/* metadata panel */

#metadata.panel ul {
	padding-left: 0px;
}

#metadata.panel li #item-box {
	padding: 6px;
	justify-items: left;
}

#metadata.panel li #item-box span {
	cursor: auto;
}

#metadata.panel li #item-box span.label {
	font-weight: bold;
}

#metadata.panel li #item-box span.value {
	text-align: left;
}

/* mobile */
@media only screen and (max-width: 700px) {
	#sidebar {
		width: 100vw;
		transform: translateX(-100vw);
		grid-template-rows: 52px;
	}

	#sidebar .menu {
		height: 52px;
	}

	#sidebar .tabs {
		width: 52px;
		overflow: auto;
	}

	#sidebar .panel .box.header {
		grid-template: 30px / auto 116px;
	}

	#sidebar .panel .box.header span.label {
		font-size: 16px;
	}

	#sidebar .panel .box.header input[type="button"] {
		height: 30px;
	}

	#sidebar .panel .box input[type="search"] {
		height: 30px;
		padding: 6px 10px;
	}

	#sidebar .tab-selector {
		display: none;
	}

	#sidebar .list-container {
		height: calc(100% - 67px);
	}
}