#toolbar {
	height: 58px;
	margin: 0;
	padding: 0;
	z-index: 10;
	display: grid;
	position: relative;
}

#toolbar .menu-1 {
	display: flex;
	grid-column: 1;
	justify-content: left;
}

#toolbar .menu-2 {
	display: flex;
	grid-column: 2;
	justify-content: right;
}

#toolbar .box {
	width: 50px;
	height: 36px;
}

#toolbar #input-zoom.box {
	padding: 15px 0;
	width: auto;
	height: 28px;
	min-height: 28px;
}

#toolbar #btn-p.box,
#toolbar #btn-n.box {
	display: none;
}

/* mobile */
@media only screen and (max-width: 700px) {
	#toolbar {
		height: 52px;
	}

	#toolbar .box {
		width: 52px;
		height: 30px;
	}

	#toolbar #input-zoom.box {
		display: none;
	}

	#toolbar #btn-pf.box {
		display: none;
	}

	#toolbar #btn-ps.box {
		display: none;
	}
}